# .gitignore content

# Virtual environment
venv/

# SQLite database files (if you're using SQLite)
*.sqlite3
*.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Other common files
*.log
*.pot
*.pyc
db.sqlite3
media/

# PyCharm
.idea/
